

*{
    margin:0;
    padding: 0;
   

}

header{
    background-image: url(./images/S1-Header.jpg);
    height:100vh;
    background-size: cover;
    background-position:center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

header h1{
    text-align: center;
    color: white;
    text-shadow: 2px 4px 4px black;
    font-size: 5rem;  
}

header p {
    width: 50%;
    text-align: center;
    font-size: 1.3rem;
    color: honeydew;
    padding: 1rem;
}

.linkTray {
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.fab {
    padding: 1rem;
    font-size: 1.5rem;
}

.fab:hover{
    color: greenyellow;
   
}

/* ---------NAV---------- */
nav{
    background-color: greenyellow;
    box-sizing: border-box;
}

ul {
    display: flex;
    justify-content: space-around;
    font-size: 1.3rem;

}

li{
    list-style: none;
    padding: 0.5rem 1rem;
}

li:hover{
    background-color: blanchedalmond;
    font-size:1.5rem ;
}

a{
    text-decoration: none;
    color:black;
}